/* RESET AND FONT */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 20px;
  color: hsl(233, 26%, 24%);
}

/* MENU STYLES */

.navigation {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 5rem;
  background-color: #fff;
  align-items: center;
  z-index: 1;
}

.menu > div > ul {
  display: flex;
  flex-direction: row;
}
.menu > div > ul > li {
  padding-right: 2rem;
  list-style-type: none;
}
.menu > div > ul > li > a {
  padding-top: 30px;
  padding-bottom: 24px;
  border-bottom: 5px solid transparent;
  text-decoration: none;
  color: grey;
  font-size: 1.2rem;
}
.menu > div > ul > li > a:hover {
  display: inline-block;
  border-bottom: 5px solid hsl(136, 65%, 51%);
}

.toggler {
  display: none;
}
